cython3
libboost-filesystem-dev
libboost-numpy-dev
libboost-python-dev
libbrotli-dev
libcurl4-openssl-dev
libgrpc++-dev
libopenmpi-dev
libpistache-dev
libprotobuf-dev
libzip-dev
nlohmann-json3-dev
protobuf-compiler-grpc
python3-matplotlib
python3-numpy
python3-pip
ros-noetic-ros-base
