libpistache-dev
libboost-python-dev
libboost-numpy-dev
libboost-filesystem-dev
libcurl4-openssl-dev
nlohmann-json3-dev
libzip-dev
cython3
python3-numpy
python3-matplotlib
libgrpc++-dev
protobuf-compiler-grpc
libprotobuf-dev
python3-pip
ros-noetic-ros-base
libopenmpi-dev
libbrotli-dev
