build
build_clang
cmake-build-debug
CMakeLists.txt.*
*.autosave
/compile_commands.json
/Project.ede
__pycache__
*.pyc
.stignore
test_env_cmake.h
/uninstall.sh
.vscode
.orig
.idea
.cache
*.log
*.data
tools/build_grpc_engine/
tools/build_json_engine/
reports
.paho
.nrp_compile_protobuf
.build_fn_factory_module
libFNFactoryModule.so

.env
examples/opensim_tvb/outputs/
examples/templates/opensim_tvb/outputs/
