version: '3.9'

# See the usage instructions in the README.md

services:


    nrp-vanilla:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/base-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/vanilla.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-vanilla-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-gazebo:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/gazebo-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/gazebo.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-gazebo-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-gazebo-nest:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/gazebo-nest-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/nest-gazebo.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-gazebo-nest-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-opensim:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/opensim-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/opensim.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-opensim-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-tvb:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/tvb-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/tvb.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-tvb-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-opensim-tvb:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/opensim-tvb-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/opensim.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-opensim-tvb-ubuntu20${NRP_CORE_TAG}
        command: bash



    nrp-nvidia-cuda:
        build:
            context: .
            dockerfile: dockerfiles/nrp-core.Dockerfile
            args:
                BASE_IMAGE: ${NRP_DOCKER_REGISTRY}nrp-core/nvidia-cuda-ubuntu20-env${NRP_CORE_TAG}
                CMAKE_CACHE_FILE: .ci/cmake_cache/nrp-nvidia-cuda.cmake
        image: ${NRP_DOCKER_REGISTRY}nrp-core/nrp-nvidia-cuda-ubuntu20${NRP_CORE_TAG}
        command: bash

